{% extends "base_angular.html" %}
{% load staticfiles sekizai_tags %}
{% block title %}Project{% endblock %}
{% block content %}

<div class="container" role="main" ng-app="idsApp" id="ids_project">
 	<div ng-controller="DetailPanelController"
 		 ng-include="'{% static "html/layout/detailpanel.html" %}'"
 		 ng-init="uuid='{{uuid}}'">
	</div>
 	<div class="row">
 		<div class="col-sm-3">
	 		<div ng-controller="MenuBarController"
	 			 ng-include="'{% static "html/layout/menubar.html" %}'"> 			
	 		</div>
	 	</div>
	 	<div class="col-sm-9">	 		
	 		<div ng-controller="RelationViewController" ng-init="entity='{{entityType}}'">	 				 			
				<div>					
					<div ng-switch="entity">
						<div ng-switch-when="project">							
							<div ng-controller="ProjectRelationViewController"
					 			 ng-include="'{% static "html/projects/project-relation-view.html" %}'"
					 			 ng-init="project_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>
						<div ng-switch-when="process">							
							<div ng-controller="ProcessRelationViewController"
					 			 ng-include="'{% static "html/processes/process-relation-view.html" %}'"
					 			 ng-init="process_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>
						<div ng-switch-when="specimen">							
							<div ng-controller="SpecimenRelationViewController"
					 			 ng-include="'{% static "html/specimens/specimen-relation-view.html" %}'"
					 			 ng-init="specimen_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>
						<div ng-switch-when="data">							
							<div ng-controller="DataRelationViewController"
					 			 ng-include="'{% static "html/data/data-relation-view.html" %}'"
					 			 ng-init="data_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>						
						<div ng-switch-when="dataset">							
							<div ng-controller="DatasetRelationViewController"
					 			 ng-include="'{% static "html/datasets/dataset-relation-view.html" %}'"
					 			 ng-init="dataset_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>						
						<div ng-switch-when="probe">							
							<div ng-controller="ProbeRelationViewController"
					 			 ng-include="'{% static "html/probes/probe-relation-view.html" %}'"
					 			 ng-init="probe_uuid='{{uuid}}'">	 			 	
					 		</div>
						</div>						
					</div>
				</div>					
	 		</div>
 		</div>
 	</div>
</div>


{% addtoblock "js" %}
<!-- <script type="text/javascript" src="{% static 'vendor/ngstorage/ngStorage.js' %}"></script> -->
<script type="text/javascript" src="{% static 'vendor/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-sanitize/angular-sanitize.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tv4/tv4.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/objectpath/lib/ObjectPath.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/schema-form.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/bootstrap-decorator.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'vendor/underscore/underscore.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'vendor/filesaver/FileSaver.js' %}"></script> -->
<script type="text/javascript" src="{% static 'vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-xeditable/dist/js/xeditable.js' %}"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script src="{% static 'javascripts/app.js' %}"></script>
<script src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script src="{% static 'javascripts/layout/controllers/detailpanel.controller.js' %}"></script>
<script src="{% static 'javascripts/layout/services/detailpanel.services.js' %}"></script>
<script src="{% static 'javascripts/layout/controllers/menubar.controller.js' %}"></script>
<script src="{% static 'javascripts/layout/controllers/relationview.controller.js' %}"></script>

<!-- Data -->
<script src="{% static 'javascripts/data/data.module.js' %}"></script>
<script src="{% static 'javascripts/data/controllers/data-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/data/services/data-relation.services.js' %}"></script>

<!-- Datasets -->
<script src="{% static 'javascripts/datasets/datasets.module.js' %}"></script>
<script src="{% static 'javascripts/datasets/controllers/dataset-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/datasets/services/dataset-relation.services.js' %}"></script>

<!-- Probes -->
<script src="{% static 'javascripts/probes/probes.module.js' %}"></script>
<script src="{% static 'javascripts/probes/controllers/probe-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/probes/services/probe-relation.services.js' %}"></script>

<!-- Processes -->
<script src="{% static 'javascripts/processes/processes.module.js' %}"></script>
<script src="{% static 'javascripts/processes/controllers/process-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/processes/services/process-relation.services.js' %}"></script>

<!-- Projects -->
<script src="{% static 'javascripts/projects/projects.module.js' %}"></script>
<script src="{% static 'javascripts/projects/controllers/project-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/projects/services/project-relation.services.js' %}"></script>

<!-- Specimens -->
<script src="{% static 'javascripts/specimens/specimens.module.js' %}"></script>
<script src="{% static 'javascripts/specimens/controllers/specimen-relation.controller.js' %}"></script>
<script src="{% static 'javascripts/specimens/services/specimen-relation.services.js' %}"></script>
{% endaddtoblock %}

{% endblock %}