{% extends "base_angular.html" %}
{% load staticfiles sekizai_tags %}
{% block title %}Project{% endblock %}
{% block content %}

<div class="container" role="main" ng-app="idsApp" id="ids_project">
 	<div ng-controller="DetailPanelController"
 		 ng-include="'{% static "html/layout/detailpanel.html" %}'"></div>
<!--  	<div class="row">
 		<div ng-controller="MenuBarController"
 			 ng-include="'{% static "html/layout/menubar.html" %}'"
 			 class=""
 			 ng-class=""></div>

 		<div ng-controller="ObjectComponentsCtrl"
 			 ng-include=""
 			 class=""
 			 ng-class=""></div>
 	</div> -->
</div>


{% addtoblock "js" %}
<!-- <script type="text/javascript" src="{% static 'vendor/ngstorage/ngStorage.js' %}"></script> -->
<script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-sanitize/angular-sanitize.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tv4/tv4.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/objectpath/lib/ObjectPath.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/schema-form.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/bootstrap-decorator.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'vendor/underscore/underscore.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'vendor/filesaver/FileSaver.js' %}"></script> -->
<script type="text/javascript" src="{% static 'vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-xeditable/dist/js/xeditable.js' %}"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script src="{% static 'javascripts/app.js' %}"></script>
<script src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script src="{% static 'javascripts/layout/controllers/detailpanel.controller.js' %}"></script>
<script src="{% static 'javascripts/layout/services/detailpanel.services.js' %}"></script>
<script src="{% static 'javascripts/layout/controllers/menubar.controller.js' %}"></script>

{% endaddtoblock %}

{% endblock %}