{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Specimen{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                {% if dataset %}
                <p><b>Process Type</b> {{ dataset.value.process_type }}</p>
                <p><b>Sequence Method</b> {{ dataset.value.sequence_method }}</p>
                <p><b>Sequence Hardware</b> {{ dataset.value.sequence_hardware }}</p>
                <p><b>Reference Sequence</b> {{ dataset.value.reference_sequence }}</p>
                {% else %}
                <p><b>no dataset data</b></p>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
