{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Directory Listing{% endblock %}

{% block content %}
<div class="container">
    <h3>Directory Listing</h3>
    <h4>system: {{ system_id }}</h3>
    <h4>path: {{ path }}</h3>
    <div class="row">
        <div class="col-xs-8">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div>
                    <button type="submit" class="btn btn-primary">Select</button>
                    <a href="/projects/" class="btn btn-warning">Cancel</a>
                </div>
            </form>
            <!-- <form>
                <ul>
                {% for choice in form.contents.field.choices %}
                    <li>
                        <input type="radio" name="directory_contents" value="{{choice.0}}"/>
                        <label for="">{{choice.1}}</label>
                    </li>
                {% endfor %}
                </ul>
            </form> -->
        </div>
    </div>
</div>
{% endblock %}
