{% extends "base.html" %}
{% load staticfiles sekizai_tags %}

{% block styles %}
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'vendor/angular-toastr/dist/angular-toastr.tpls.min.js' %}"></script>

    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/ng-modernizr/ng-modernizr.js' %}"></script>

        <script src="{%static 'scripts/logging/logger.js' %}"></script>

        <script type="text/javascript">
            (function(angular) {
                var initial = angular.module('django.context', []);
                initial.value('Django', {
                    user: "{{ request.user }}",
                    context: {{ angular_init|default:"{}"|safe }}
                });
            })(angular);
        </script>
    {% endaddtoblock %}
{% endblock %}