{% load staticfiles sekizai_tags %}
{% load hijack_tags %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}[Page title]{% endblock %} | Identifier Services</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link rel="icon" href="{% static 'favicon.ico' %}">
      <link rel="canonical" href="{{request.get_full_path}}">
      
      <link rel="stylesheet" href="{% static 'styles/bootstrap/dist/css/bootstrap.min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
      <link rel="stylesheet" href="/static/styles/site.css">
  </head>
  <body>
    {% include 'includes/header.html' %}
    {% include 'includes/navigation.html' %}
    {% include 'includes/messages.html' %}
    {% include 'includes/breadcrumbs.html' %}
    {% hijack_notification %}
    {% load django_bootstrap_breadcrumbs %}
    <div class="container">
        <div class="row">
            <!-- TODO: I'd like to detect if the block called create_button
                       is present in the inherited page, if that is possible,
                       maybe like this: http://stackoverflow.com/a/18721466/1344499
                       right now i'm hacking it with a context field-->
            {% if create_button %}
            <div class="col-xs-9">
                {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}
            </div>
            <div class="col-xs-3">
                {% block create_button %}{% endblock %}
            </div>
            {% else %}
            <div class="col-xs-12">
                {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}
            </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}
    <!-- scripts -->
    
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script stc = "{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block scripts %}{% endblock %}
    {% render_block "js" %}
    {% include 'includes/analytics.html' %}
  </body>
</html>
