{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    {% if form_identifier_create %}
        Create Identifier
    {% elif form_identifier_edit %}
        Edit Identifier
    {% endif %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% if form_identifier_create %}
        {% bootstrap_form form_identifier_create %}
    {% elif form_identifier_edit %}
        {% bootstrap_form form_identifier_edit %}
    {% endif %}

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        {% if identifier %} {# identifier exists if we're editing #}
            <a href="{% url 'ids_projects:identifier-view' identifier_uuid=identifier.uuid %}" class="btn btn-warning">Cancel</a>
            <a href="{% url 'ids_projects:identifier-delete' identifier_uuid=identifier.uuid %}" class="btn btn-danger pull-right">Delete</a>
        {% elif project %}
            <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>
            {% else %}
                <a href="{% url 'ids_projects:project-list-private' %}" class="btn btn-warning pull-right">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
