{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Define Probes{% endblock %}

{% block content %}
<form method="post" action="{% url 'ids_projects:probe-upload-option'%}?project_uuid={{project.uuid}}" enctype="multipart/form-data">
    {% csrf_token %}    
    <hr>

    <fieldset id="id_form_upload_option">
        {% bootstrap_form form_upload_option %}                
        <input type="hidden" id="id_project_uuid" name="project_uuid" value="{{project.uuid}}">                
        
    </fieldset>

    <fieldset id="id_form_upload_file">
        <p type="hidden" id="id_upload_tips"> {{ form_upload_file.file.label}}, {{ form_upload_file.file.help_text }} </p>
        <p id="id_upload_dialog"> {{ form_upload_file.file }} </p>                
        
        <button type="submit" class="btn btn-primary">Next</button>
        <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>    
    </fieldset>    
</form>
{% endblock %}
{% block scripts %} 
<script src="{% static 'ids_projects/upload_file.js' %}"></script>
{% endblock %}      
