{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Create Process{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset id="id_form_process_type">
        {% bootstrap_form form_process_type %}
        <input type="hidden" id="id_specimen_uuid" name="specimen_uuid" value="{{specimen.uuid}}">
        <input type="hidden" id="id_project_uuid" name="project_uuid" value="{{project.uuid}}">
    </fieldset>

    <fieldset id="id_form_process_fields">
        {% if form_process_fields %}
            {% include "ids_projects/processes/get_fields_ajax.html" %}
        {% else %}
            <div>
                <button type="submit" class="btn btn-primary">Next</button>
                <a href="/specimen/{{specimen.uuid}}" class="btn btn-warning pull-right">Cancel</a>
            </div>
        {% endif %}
    </fieldset>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'ids_projects/add_process.js' %}"></script>
{% endblock %}
