{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Create Process{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- <h4>Add data to a previously defined {{ process_type }} process:</h4>
    List of {{ process_type }} processes go here?
    <h4>Or, describe and add data to a new {{ process_type }} process:</h4> -->
    <hr>

    <fieldset id="id_form_process_type">
        {% bootstrap_form form_process_type %}
        <input type="hidden" id="id_specimen_uuid" name="specimen_uuid" value="{{specimen.uuid}}">
        <input type="hidden" id="id_project_uuid" name="project_uuid" value="{{project.uuid}}">
    </fieldset>

    <fieldset id="id_form_process_fields">
        {% if form_process_fields %}
            {% include "ids_projects/processes/get_fields_ajax.html" %}            
        {% else %}
            <div>
                <button type="submit" class="btn btn-primary">Next</button>
                {% if specimen %}
                    <a href="{% url 'ids_projects:specimen-view' specimen_uuid=specimen.uuid %}" class="btn btn-warning pull-right">Cancel</a>
                {% else %}
                    <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>
                {% endif %}
            </div>
        {% endif %}
    </fieldset>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'ids_projects/add_process.js' %}"></script>
{% endblock %}
