{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Create Process{% endblock %}

{% block content %}
<div class="container">
    {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}

    <form method="post">
        {% csrf_token %}

        <fieldset id="id_form">
            {% bootstrap_form form %}
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/specimen/{{specimen.uuid}}" class="btn btn-warning pull-right">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'ids_projects/add_process.js' %}"></script>
{% endblock %}
