{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Processes{% endblock %}

{% block create_button %}
    <a href="{% url 'ids_projects:process-create' %}?specimen_uuid={{specimen.uuid}}" class="btn btn-primary pull-right">Create Process</a>
{% endblock %}

{% block content %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Project</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            <p><b>Project Name: </b> {{ project.value.title }}</p>
            <p><b>Investigation Type: </b> {{ project.value.investigation_type }}</p>
            <p><b>Description: </b> {{ project.value.description }}</p>
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-xs-3 col-xs-offset-4 col-sm-offset-5">
                    <a href="{% url 'ids_projects:project-delete' project_uuid=project.uuid %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{specimen.value.taxon_name}} {{specimen.value.specimen_id}}</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            <p><b>Taxon Name</b> {{ specimen.value.taxon_name }}</p>
            <p><b>Specimen ID</b> {{ specimen.value.specimen_id }}</p>
            <p><b>Organ/Tissue</b> {{ specimen.value.organ_or_tissue }}</p>
            <p><b>Developmental Stage</b> {{ specimen.value.developmental_stage }}</p>
            <p><b>Haploid Chromosone Count</b> {{ specimen.value.haploid_chromosome_count }}</p>
            <p><b>Ploidy</b> {{ specimen.value.ploidy }}</p>
            <p><b>Propagation</b> {{ specimen.value.propagation }}</p>
            <p><b>Estimated Genome Size</b> {{ specimen.value.estimated_genome_size }}</p>
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:specimen-view' specimen_uuid=specimen.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:specimen-edit' specimen_uuid=specimen.uuid %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-xs-3 col-xs-offset-1 col-sm-offset-2">
                    <a href="{% url 'ids_projects:specimen-delete' specimen_uuid=specimen.uuid %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% for process in processes %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ process.value.process_type }}</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            {% for key, value in process.value.items %}
                {% if "_" not in key and key != "process_type" %}
                <p><b>{{ key }}</b> {{ value }}</p>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:process-view' process_uuid=process.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:process-edit' process_uuid=process.uuid %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}
