<header>
    <a href="{% url 'app:index' %}" class="">
        <strong style="color:#c00">Home</strong>
    </a>
    |
    <a href="{% url 'app:investigation_type_list' %}" class="">
        Investigation Types
    </a>
    |
    <a href="{% url 'app:project_list' %}" class="">
        Projects
    </a>
    |
    <a href="{% url 'app:dataset_list' %}" class="">
        Datasets
    </a>
    |
    <a href="{% url 'app:project_list' %}" class="">
        {{ user.first_name }}'s Profile
    </a>
    |
    <a href="{% url 'logout' %}" class="">
        <strong>Logout</strong>
    </a>
</header>
