<div class="homepage-main-feature">
  <div class="container">
    <div class="row">
      <div id="ids-home-blurb" class="col-sm-7 col-sm-push-5">
        <h1>Identifier Services Portal</h1>
        <p class="lead">The Identifier Services Portal provides a single
            place for researchers to manage global unique identifiers and
            track distributed datasets throughout the project lifecycle.
            Data entry is simplified by a context sensitive interface that
            recalls relevant information related to existing project
            entities.  Managing post-publication events is made easier by
            automated integrity and identity verification that will track
            registered data over time.  The portal intends to save you time
            and effort while encouraging data reuse and replication; browse
            public projects, or log in with your iPlant account to get
            started.</p>
      </div>
      
      <div class="hidden-xs col-sm-5 col-sm-pull-7">
        <figure id="ids-home-image">
          <img class="img-responsive" src="/static/images/img5.jpg">
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="homepage-features">

    <div class="row">
      <div class="col-sm-6 col-md-5">
        <div class="homepage-feature">
          <h3>Browse Published Projects</h3>
          <div class="homepage-feature-content">
            <p>View, search, and download metadata, raw and derived data,
                and find publications related to datasets that Identifier
                Services users have uploaded and published.</p>
          </div>
          <a href="/projects/" class="homepage-feature-action btn btn-primary btn-block">Browse Published Projects</a>
        </div>
      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-2">
        <div class="homepage-feature">
          <h3>Upload and Publish Data</h3>
          <div class="homepage-feature-content">
            <p>Create a Project and Upload your Data. You can upload
                originating data, analysis data, and specimen data, as well
                as publications or other documents relating to your data.</p>
          </div>
          <a href="/accounts/signup/" class="homepage-feature-action btn btn-primary btn-block">Register or Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
