{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Specimen{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                {% if specimen %}
                <p><b>Taxon Name</b> {{ specimen.value.taxon_name }}</p>
                <p><b>Specimen ID</b> {{ specimen.value.specimen_id }}</p>
                <p><b>Organ/Tissue</b> {{ specimen.value.organ_or_tissue }}</p>
                <p><b>Taxon Name</b> {{ specimen.value.taxon_name }}</p>
                <p><b>Development Stage</b> {{ specimen.value.development_stage }}</p>
                <p><b>Haploid Chromosone Count</b> {{ specimen.value.haploid_chromosone_count }}</p>
                <p><b>Ploidy</b> {{ specimen.value.ploidy }}</p>
                <p><b>Propogation</b> {{ specimen.value.propogation }}</p>
                <p><b>Estimated Genome Size</b> {{ specimen.value..est_genome_size }}</p>

                {% else %}
                <p><b>no specimen data</b></p>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
