{% extends 'base.html' %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "Projects" "ids_projects:projects-list" %}

    {% if project %}
        {% if project.short %}
            {% breadcrumb project.short "ids_projects:projects-view" project.uuid %}
        {% else %}
            {% breadcrumb "Project" "ids_projects:projects-view" project.uuid %}
        {% endif %}
    {% endif %}

    {% breadcrumb "Specimens" "ids_projects:specimens-list" project.uuid %}

{% endblock %}

{% block title %}Specimens{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}
        </div>
        {% if project %}
        <div class="col-xs-3">
            <a href="/specimen/create?project_uuid={{project.uuid}}" class="btn btn-primary pull-right">Describe Specimen</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if project %}
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Project</h1>
                </div>
                <div class="panel-body">
                    <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                    <p><b>Project Name: </b> {{ project.title }}</p>
                    <p><b>Investigation Type: </b> {{ project.investigation_type }}</p>
                    <p><b>Description: </b> {{ project.description }}</p>
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="/project/{{project.uuid}}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% for specimen in specimens %}
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{specimen.taxon_name}} {{specimen.specimen_id}}</h1>
                </div>
                <div class="panel-body">
                    <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                    <p><b>Taxon Name</b> {{ specimen.taxon_name }}</p>
                    <p><b>Specimen ID</b> {{ specimen.specimen_id }}</p>
                    <p><b>Organ/Tissue</b> {{ specimen.organ_or_tissue }}</p>
                    <p><b>Developmental Stage</b> {{ specimen.developmental_stage }}</p>
                    <p><b>Haploid Chromosone Count</b> {{ specimen.haploid_chromosome_count }}</p>
                    <p><b>Ploidy</b> {{ specimen.ploidy }}</p>
                    <p><b>Propagation</b> {{ specimen.propagation }}</p>
                    <p><b>Estimated Genome Size</b> {{ specimen.estimated_genome_size }}</p>

                    <div class="row">
                        <div class="col-xs-3">
                            <a href="/specimen/{{specimen.uuid}}/" class="btn btn-primary">View</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="/specimen/{{specimen.uuid}}/edit" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1 col-sm-offset-2">
                            <a href="/specimen/{{specimen.uuid}}/delete" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
