{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Data to Process<br>
        <small>{{process.value.process_type}} <!-- {{process.uuid}}--></small>
    </h1>

    <meta id="process-info" data-name="{{process.value.process_type}}" data-uuid="{{process.uuid}}">

    <form name="browse_system_form" id="id_browse_system_form">
        <div class="form-group">
            <label for="id_system_id">Select system</label>
            <select name="system_id" id="id_system_id" class="form-control">
                <option>Choose one</option>
                {% for sys in systems %}
                <option value="{{sys.id}}">{{sys.name}} ({{sys.id}})</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_file_path">Browse path</label>
            <input type="text" name="file_path" id="id_file_path" class="form-control" placeholder="Browse to path">
        </div>
    </form>

    <table class="table table-striped" id="files_listing">
        <thead>
            <th>File name</th>
            <th>Last modified</th>
            <th>File size</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <p class="alert alert-info">
                        Select a system and path on which to browse data
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'ids_projects/add_data.js' %}"></script>
{% endblock %}
