{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    Edit Data
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% bootstrap_form form_data_edit %}

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'ids_projects:data-view' data_uuid=data.uuid %}" class="btn btn-warning">Cancel</a>
        <a href="{% url 'ids_projects:data-delete' data_uuid=data.uuid %}" class="btn btn-danger pull-right">Delete</a>
    </div>
</form>
{% endblock %}
