{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Data{% endblock %}

{% block content %}

{% if project %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Project</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            {% for key, value in project.value.items %}
                {% if "_" not in key and key != "process_type" %}
                <p><b>{{ key }}</b> {{ value }}</p>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if specimen %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Specimen</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            {% for key, value in specimen.value.items %}
                {% if "_" not in key and key != "process_type" %}
                <p><b>{{ key }}</b> {{ value }}</p>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:specimen-view' specimen_uuid=specimen.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:specimen-edit' specimen_uuid=specimen.uuid %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if process %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ process.value.process_type }}</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            {% for key, value in process.value.items %}
                {% if "_" not in key and key != "process_type" %}
                <p><b>{{ key }}</b> {{ value }}</p>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:process-view' process_uuid=process.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:process-edit' process_uuid=process.uuid %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% for data in datas %}
<div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Data</h1>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
            {% for key, value in data.value.items %}
                {% if "_" not in key and key != "process_type" %}
                <p><b>{{ key }}</b> {{ value }}</p>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:data-view' data_uuid=data.uuid %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'ids_projects:data-edit' data_uuid=data.uuid %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
