{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Source Data Type{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% if process %}
    <h4>Select data source, file or SRA:</h4>
    {% elif specimen %}
    <h4>Add data to specimen:</h4>
    {% elif project %}
    <h4>Add data to project:</h4>
    {% endif %}
    <hr>

    {% bootstrap_form form_data_type %}

    <div>
        <button type="submit" class="btn btn-primary">Next</button>
        {% if process %}
        <a href="{% url 'ids_projects:process-view' process_uuid=process.uuid %}" class="btn btn-warning pull-right">Cancel</a>
        {% elif specimen %}
        <a href="{% url 'ids_projects:specimen-view' specimen_uuid=specimen.uuid %}" class="btn btn-warning pull-right">Cancel</a>
        {% elif project %}
        <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
