<div>		
	<a href="" ng-show="actions.select_data" class="btn btn-primary btn-block">Select Data</a>
	<a href="" ng-show="actions.add_input_data" class="btn btn-primary btn-block">Add Input Data</a>
	<a href="" ng-show="actions.add_output_data" class="btn btn-primary btn-block">Add Output Data</a>		
	<a href="" ng-show="actions.add_data" class="btn btn-primary btn-block">Add Data</a>		
	<a href="" ng-show="actions.add_images" class="btn btn-primary btn-block">Add Images</a>		
	<a href="" ng-show="actions.create_dataset" class="btn btn-default btn-block">Create Dataset</a>		
	<a href="" ng-show="actions.relate_to_specimen" class="btn btn-default btn-block">Relate to Specimen</a>
	<a href="" ng-show="actions.relate_to_process" class="btn btn-default btn-block">Relate to Process</a>
	<a href="" ng-show="actions.define_specimen" class="btn btn-default btn-block">Define Specimen</a>
	<a href="" ng-show="actions.define_probe" class="btn btn-default btn-block">Define Probe</a>
	<a href="" ng-show="actions.define_sequencing" class="btn btn-default btn-block">Define Sequencing</a>
	<a href="" ng-show="actions.define_assembly" class="btn btn-default btn-block">Define Assembly</a>
	<a href="" ng-show="actions.define_analysis" class="btn btn-default btn-block">Define Analysis</a>
	<a href="" ng-show="actions.define_ish" class="btn btn-default btn-block">Define ISH</a>
	<a href="" ng-show="actions.request_doi" class="btn btn-default btn-block">Request DOI</a>
	<a href="" ng-show="actions.request_ark" class="btn btn-default btn-block">Request ARK</a>		
</div>