<div class="well">
	<h1>{{text}}</h1>
	<div ng-switch="entity">
		<div ng-switch-when="project">
			<p>project view</p>
			<div ng-controller="ProjectRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>

		<div ng-switch-when="process">
			<p>process view</p>
			<div ng-controller="ProcessRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>

		<div ng-switch-when="specimen">
			<p>specimen view</p>
			<div ng-controller="SpecimenRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>

		<div ng-switch-when="data">
			<p>data view</p>
			<div ng-controller="DataRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>						

		<div ng-switch-when="dataset">
			<p>data view</p>
			<div ng-controller="DatasetRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>						

		<div ng-switch-when="probe">
			<p>probe view</p>
			<div ng-controller="ProbeRelationViewController"
	 			 ng-include="'{% static "" %}'">	 			 	
	 		</div>
		</div>						
	</div>
</div>
