/*****************
 ** Site Styles **
 *****************/

.dl-horizontal dt {
    text-align: left;
    width: 115px;
}

.dl-horizontal dd {
  margin-left: 125px;
  /*max-width: 200px;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
}

hr {
    margin: 12px 0;
}

.info-panel {
    background-color: #fafafa; /*#f9f9f0;*/
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    margin-top: 10px
}

.fix-me {
    margin-top: -5px;
}

.object-header {
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 500px;
    line-height: 20px;
    background-color: #f2f2f2;
    border-color: #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.object-header .header-link {
    color: #6a6a6a;
    text-decoration: none;
}

.object-header .header-link:hover {
    color: #080808;
}

.darker {
    background-color: #eaeaea;
    border-color: #ccc;
    color: #666;
}

.dark {
    background-color: rgba(69, 97, 115, 0.18);
    border-color: rgba(69, 97, 115, 0.2);
    color: #666;
}

.burnt-orange {
    background-color: rgba(191, 87, 0, 0.79);
    border-color: rgba(191, 87, 0, 0.5);
    color: white;
}

.info-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.suggest-in {
    background-color: lightgreen;
}

.suggest-out {
    background-color: lightsalmon;
}

#projects-header {
    margin-top: 0px
}

/** nav bar **/

.gravatar-nav-sm {
    border-radius: 50%;
    margin: -10px 0px -10px 6px;
}

.gravatar-profile-lg {
    border-radius: 5%;
}

.glyphicon.glyphicon-log-out, .glyphicon-log-in, .glyphicon-user {
    margin-left: 6px;
}

/** home page **/

#ids-home-blurb {
    /* nothing */
}

#ids-home-image {
    margin-top: 28px;
}

.homepage-features h3 {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.homepage-main-feature {
    background-color: #fbfbfb;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin-top: -20px;
    box-shadow: 0px 0px 3px #edecf7;
}

.padding-right-30 {
  padding-right: 30px;
}

/** footer **/

/* sticky footer stuff */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 125px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 125px;
}

/* end sticky footer stucc */

.partners {
    margin-bottom: 1em;
}

.partners > a {
    padding: 0 20px 0 20px;
}

/*************************
 ** Bootstrp Overwrites **
 *************************/

 .navbar-inverse {
     background-color: #CCC;
     border-color: #B9B9B9;
 }
 .navbar-inverse .navbar-brand {
     color: #616161;
 }
 .navbar-inverse .navbar-brand:focus,
 .navbar-inverse .navbar-brand:hover {
     color: #080808;
     background-color: transparent
 }
 .navbar-inverse .navbar-text {
     color: #616161;
 }
 .navbar-inverse .navbar-nav>li>a {
     color: #616161;
 }
 .navbar-inverse .navbar-nav>li>a:focus,
 .navbar-inverse .navbar-nav>li>a:hover {
     color: #080808;
     background-color: transparent
 }
 .navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
 .navbar-inverse .navbar-nav>.active>a:hover {
     color: #505050;
     background-color: #B9B9B9;
 }
 .navbar-inverse .navbar-nav>.disabled>a,
 .navbar-inverse .navbar-nav>.disabled>a:focus,
 .navbar-inverse .navbar-nav>.disabled>a:hover {
     color: #444;
     background-color: transparent
 }
 .navbar-inverse .navbar-toggle {
     border-color: #868686;
 }
 .navbar-inverse .navbar-toggle:focus,
 .navbar-inverse .navbar-toggle:hover {
     background-color: #9C9C9C;
 }
 .navbar-inverse .navbar-toggle .icon-bar {
     background-color: #616161;
 }
 .navbar-inverse .navbar-collapse,
 .navbar-inverse .navbar-form {
     border-color: #101010;
 }
 .navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
 .navbar-inverse .navbar-nav>.open>a:hover {
     color: #080808;
     background-color: #B9B9B9;
 }
 @media (max-width: 767px) {
     .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
         border-color: #B9B9B9;
     }
     .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
         background-color: #B9B9B9;
     }
     .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
         color: #616161;
     }
     .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
     .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
         color: #080808;
         background-color: transparent
     }
     .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
     .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
     .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
         color: #080808;
         background-color: #B9B9B9;
     }
     .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
     .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,
     .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover {
         color: #444;
         background-color: transparent
     }
 }
 .navbar-inverse .navbar-link {
     color: #616161;
 }
 .navbar-inverse .navbar-link:hover {
     color: #080808;
 }
 .navbar-inverse .btn-link {
     color: #616161;
 }
 .navbar-inverse .btn-link:focus,
 .navbar-inverse .btn-link:hover {
     color: #080808;
 }
 .navbar-inverse .btn-link[disabled]:focus,
 .navbar-inverse .btn-link[disabled]:hover,
 fieldset[disabled] .navbar-inverse .btn-link:focus,
 fieldset[disabled] .navbar-inverse .btn-link:hover {
     color: #444
 }
