{% extends 'base.html' %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "Projects" "ids_projects:project-list" %}

    {% if project %}
        {% breadcrumb "Edit Project" "ids_projects:project-view" project.uuid %}
    {% else %}
        {% breadcrumb "Create Project" "ids_projects:project-create" %}
    {% endif %}

{% endblock %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div class="container">
    {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            {% if project %} {# project exists if we're editing #}
                <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>
            {% else %}
                <a href="{% url 'ids_projects:project-list' %}" class="btn btn-warning pull-right">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
