{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Create Project{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% if form_project_create %}
        {% bootstrap_form form_project_create %}
    {% elif form_project_edit %}
        {% bootstrap_form form_project_edit %}
    {% endif %}

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        {% if project %} {# project exists if we're editing #}
            <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-warning pull-right">Cancel</a>
        {% else %}
            <a href="{% url 'ids_projects:project-list' %}" class="btn btn-warning pull-right">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
