{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="row">
    <!-- Left Column - Project Basic Info -->
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Project</h1>
            </div>
            <div class="panel-body">
                <p><img class="img-responsive" src="{% static 'images/img2.jpg' %}"></p>
                <p><b>Project Name: </b> {{ project.value.title }}</p>
                <p><b>Investigation Type: </b> {{ project.value.investigation_type }}</p>
                <p><b>Description: </b> {{ project.value.description }}</p>
                <p><b>Creator: </b>{{ project.value.creator }}</p>
                <!-- <p><b>Access: </b> {% if project.value.public == 'True' %}Public{% else %}Private{% endif %}</p> -->
                <div class="visible-xs">
                    <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="row hidden-xs">
                    <div class="col-sm-3">
                        <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:specimen-list' %}?project_uuid={{project.uuid}}" class="">Specimens: {{ project.specimens|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:process-list' %}?project_uuid={{project.uuid}}" class="">Processes: {{ project.processes|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:data-list' %}?project_uuid={{project.uuid}}" class="">Data: {{ project.data|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:dataset-list-private' %}?project_uuid={{project.uuid}}" class="">Dataset: {{ project.dataset|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>

    </div>

    <!-- Middle/Right Column - Project Basic Info -->
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-7">
        <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add Specimen Data</a>
        <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add Process Data</a>
        <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
    </div>
</div>
{% endblock %}
