{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left Column - Project Basic Info -->
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Project</h1>
                </div>
                <div class="panel-body">
                    <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                    <p><b>Project Name: </b> {{ project.title }}</p>
                    <p><b>Investigation Type: </b> {{ project.investigation_type }}</p>
                    <p><b>Description: </b> {{ project.description }}</p>
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="/project/{{project.uuid}}/edit" class="btn btn-primary">Edit Project</a>
                        </div>
                        <div class="col-xs-3 col-xs-offset-4 col-sm-offset-3 col-md-offset-4">
                            <a href="/project/{{project.uuid}}/delete" class="btn btn-danger">Delete Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Middle/Right Column - Project Basic Info -->
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-7">

            <!-- <div class="panel-body"> -->
            {% if not project.specimens %}
            <p>No specimens yet.</p>
            {% else %}
            {% for specimen in project.specimens %}

            <div class="object-header">
                <span>{{ specimen.taxon_name }} {{ specimen.specimen_id }}</span>
            </div>

            <div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Taxon Name</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.taxon_name }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Specimen ID</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.specimen_id }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Organ/Tissue</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.organ_or_tissue }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Developmental Stage</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.developmental_stage }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Haploid Chromosone Count</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.haploid_chromosome_count }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Ploidy</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.ploidy }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Propagation</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.propagation }}
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-xs-6">
                        <b>Estimated Genome Size</b>
                    </div>
                    <div class="col-xs-6">
                        {{ specimen.estimated_genome_size }}
                    </div>
                </div>

                    {% if not specimen.processes %}
                    <p>No processes for {{ specimen.taxon_name }} {{ specimen.specimen_id }}</p>
                    {% else %}
                    {% for process in specimen.processes %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title"> Process {{ process.process_type }}</h1>
                        </div>

                        <div class="panel-body">

                            {{ process }}

                            {% if not process.files %}
                            <p>No files for {{ process.process_type }}</p>
                            {% else %}

                            <div class="row">
                                <div class="col-xs-3">
                                    <b>Name</b>
                                </div>
                                <div class="col-xs-3">
                                    <b>Size</b>
                                </div>
                                <div class="col-xs-3">
                                    <b>Modified</b>
                                </div>
                            </div>

                            {% for file in process.files %}
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>{{ file.name }}</b>
                                </div>
                                <div class="col-xs-3">
                                    {{ file.length }}
                                </div>
                                <div class="col-xs-3">
                                    {{ file.last_modified }}
                                </div>
                                <div class="col-xs-2">
                                    <p><a href="/data/delete/{{file.uuid}}/" class="btn btn-danger">Remove</a></p>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Data</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <b>Name</b>
                            </div>
                            <div class="col-xs-3">
                                <b>Size</b>
                            </div>
                            <div class="col-xs-3">
                                <b>Modified</b>
                            </div>
                        </div>
                        {% for file in specimen.data %}
                        <div class="row">
                            <div class="col-xs-3">
                                <b>{{ file.name }}</b>
                            </div>
                            <div class="col-xs-3">
                                {{ file.length }}
                            </div>
                            <div class="col-xs-3">
                                {{ file.last_modified }}
                            </div>
                            <div class="col-xs-2">
                                <p><a href="/data/delete/{{file.uuid}}/" class="btn btn-danger">Remove</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <p><a href="/specimens/{{specimen.uuid}}/add-data/" class="btn btn-primary">Add Data</a></p>
                    </div>
                    <div class="col-xs-2">
                        <p><a href="/specimens/edit/{{specimen.uuid}}/" class="btn btn-primary">Edit</a></p>
                    </div>
                    <div class="col-xs-2">
                        <p><a href="/specimens/delete/{{specimen.uuid}}/" class="btn btn-danger">Delete Specimen</a></p>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% endif %}
            <p><a href="/project/{{project.uuid}}/specimen/" class="btn btn-primary">Define Specimen</a></p>
        </div>
    </div>
</div>
{% endblock %}
