{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="row">
    <!-- Left Column - Project Basic Info -->
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Project</h1>
            </div>
            <div class="panel-body">
                <p><img class="img-responsive" src="{% static 'images/img2.jpg' %}"></p>
                <p><b>Project Name: </b> {{ project.value.title }}</p>
                <p><b>Investigation Type: </b> {{ project.value.investigation_type }}</p>
                <p><b>Description: </b> {{ project.value.description }}</p>
                <p><b>Creator: </b>{{ project.value.creator }}</p>
                <!-- <p><b>Access: </b> {% if project.value.public == 'True' %}Public{% else %}Private{% endif %}</p> -->
                <div class="visible-xs">
                    <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'ids_projects:project-delete' project_uuid=project.uuid %}" class="btn btn-danger">Delete</a>
                </div>
                <div class="row hidden-xs">
                    <div class="col-sm-3">
                        <a href="{% url 'ids_projects:project-edit' project_uuid=project.uuid %}" class="btn btn-primary">Edit</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="{% url 'ids_projects:project-delete' project_uuid=project.uuid %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:specimen-list' %}?project_uuid={{project.uuid}}" class="">Specimens: {{ project.specimens|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:process-list' %}?project_uuid={{project.uuid}}" class="">Processes: {{ project.processes|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:data-list' %}?project_uuid={{project.uuid}}" class="">Data: {{ project.data|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="{% url 'ids_projects:dataset-list-private' %}?project_uuid={{project.uuid}}" class="">Dataset: {{ project.dataset|length }}</a></h4>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <!-- <a href="{% url 'ids_projects:process-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary">Add </a> -->
            </div>
        </div><hr>

    </div>
    <!-- Middle/Right Column - Project Basic Info -->
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-7">

        <!-- <div class="panel-body"> -->
        {% if not project.specimens %}
        <div class="object-header dark">
            <div>
                No Specimens yet.
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary btn-sm pull-right fix-me">Add</a>
            </div>
        </div>
        {% else %}
        <div class="object-header dark">
            <div>
                Specimens
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{project.uuid}}" class="btn btn-primary btn-sm pull-right fix-me">Add</a>
            </div>
        </div>

            {% for specimen in project.specimens %}

            <div class="info-panel">

                <div class="object-header darker">
                    <a href="{% url 'ids_projects:specimen-view' specimen_uuid=specimen.uuid %}" class="header-link">{{ specimen.value.taxon_name }} {{ specimen.value.specimen_id }}</a>
                </div>

                <div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Taxon Name</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.taxon_name }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Specimen ID</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.specimen_id }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Organ/Tissue</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.organ_or_tissue }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Developmental Stage</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.developmental_stage }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Haploid Chromosone Count</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.haploid_chromosome_count }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Ploidy</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.ploidy }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Propagation</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.propagation }}
                        </div>
                    </div>
                    <div class="row info-item">
                        <div class="col-xs-6">
                            <b>Estimated Genome Size</b>
                        </div>
                        <div class="col-xs-6">
                            {{ specimen.value.estimated_genome_size }}
                        </div>
                    </div>

                        {% if not specimen.processes %}
                        <div class="object-header dark">
                            <div>
                                {% if specimen.short %}
                                    No processes for {{ specimen.short }}
                                {% else %}
                                    No processes for {{ specimen.value.taxon_name }} {{ specimen.value.specimen_id }}
                                {% endif %}

                                <a href="{% url 'ids_projects:process-create' %}?specimen_uuid={{specimen.uuid}}" class="btn btn-primary btn-sm pull-right fix-me">Add</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="object-header dark">
                            <div>
                                {% if specimen.short %}
                                    Processes for {{ specimen.short }}
                                {% else %}
                                    Processes for {{ specimen.value.taxon_name }} {{ specimen.value.specimen_id }}
                                {% endif %}

                                <a href="{% url 'ids_projects:process-create' %}?specimen_uuid={{specimen.uuid}}" class="btn btn-primary btn-sm pull-right fix-me">Add</a>
                            </div>
                        </div>

                            <!-- TODO: fix this -->
                            <br>

                            {% for process in specimen.processes %}

                            <div class="object-header">
                                <a href="{% url 'ids_projects:process-view' process_uuid=process.uuid %}" class="header-link">{{ process.value.process_type }}</a>
                            </div>

                                {% for key, body in process.value.items %}
                                    {% if key != "process_type" and key != "public" and "_" not in key %}
                                    <div class="row info-item">
                                        <div class="col-xs-6">
                                            <b>{{ key.title }}</b>
                                        </div>
                                        <div class="col-xs-6">
                                            {{ body }}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            {% endfor %} <!-- processes -->
                        {% endif %} <!-- specimen.processes -->

                        </div>

                    </div>

                <hr>

            {% endfor %} <!-- specimens -->
        {% endif %} <!-- project.specimens -->
    </div>
</div>
{% endblock %}
