{% extends 'base.html' %}

{% load bootstrap3 %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Projects" "ids_projects:projects-list" %}
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <!-- <h2 id="projects-header">Projects</h2> -->
            {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap3.html' %}
        </div>
        <div class="col-xs-3">
            <a href="/project" class="btn btn-primary pull-right">Create Project</a>
        </div>
    </div>
    <div class="row">
    {% for project in projects %}
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                    <p><h4>{{ project.title }}</h4>
                    <b>Type: </b>{{ project.investigation_type }}</p>
                    <p><b>Description: </b>{{ project.description }}</p>
                    <a href="/project/{{project.uuid}}" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
