{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Projects{% endblock %}

{% block create_button %}
    <a href="{% url 'ids_projects:project-create' %}" class="btn btn-primary pull-right">Create Project</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
      <h3>Public Projects</h3>
      {% if not public_projects %}
      <h4>There currently are no public projects.</h4>
      {% endif %}
    </div>
{% for project in public_projects %}
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                <p><h4>{{ project.value.title }}</h4>
                <b>Type: </b>{{ project.value.investigation_type }}</p>
                <p><b>Description: </b>{{ project.value.description }}</p>
                <p><b>Creator: </b>{{ project.value.creator }}</p>
                <div class="row">
                    <div class="col-xs-3">
                        <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-primary">View</a>
                    </div>
                    <div class="col-xs-3 col-xs-offset-2 col-sm-offset-5">
                        <a href="{% url 'ids_projects:project-delete' project_uuid=project.uuid %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="row">
    <div class="container">
      <h3>{{ user.first_name }}'s Projects</h3>
      {% if not private_projects %}
      <h4>You don't have any private projects.</h4>
      <a href="{% url 'ids_projects:project-create' %}" class="btn btn-primary">Create Project</a>
      {% endif %}
    </div>
{% for project in private_projects %}
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><img class="img-responsive" src="/static/images/img2.jpg"></p>
                <p><h4>{{ project.value.title }}</h4>
                <b>Type: </b>{{ project.value.investigation_type }}</p>
                <p><b>Description: </b>{{ project.value.description }}</p>
                <p><b>Access: </b> {% if project.value.public == 'True' %}Public{% else %}Private{% endif %}</p>
                <div class="row">
                    <div class="col-xs-3">
                        <a href="{% url 'ids_projects:project-view' project_uuid=project.uuid %}" class="btn btn-primary">View</a>
                    </div>
                    <div class="col-xs-3 col-xs-offset-2 col-sm-offset-5">
                        <a href="{% url 'ids_projects:project-delete' project_uuid=project.uuid %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
