{% with object.name|slice:"6:" as object_type %}

    {% block content %}

        {% include 'includes/object_detail.html' %}

        <div class="row">
            <div class="col-sm-3">
            {% if object_type == 'process' %}
                <a href="{% url 'ids_projects:data-type' %}?relationship=input&process_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Input Data</a>
                <a href="{% url 'ids_projects:data-type' %}?relationship=output&process_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Output Data</a>
            {% elif object_type == 'dataset' %}
                <a href="{% url 'ids_projects:data-type' %}?{{ object_type }}_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Select Data</a>
                <a href="#" class="btn btn-primary btn-block">Request Identifier</a>
            {% elif object_type != 'data' %}
                <a href="{% url 'ids_projects:data-type' %}?{{ object_type }}_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Data</a>
            {% elif object_type == 'data' %}
                {% if object_type.sra_id %}
                    <a href="{% url 'ids_projects:file-select' 'identical' %}?{{ object_type }}_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add File</a>
                {% else %}
                    <a href="{% url 'ids_projects:add-sra' 'identical' %}?{{ object_type }}_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add SRA</a>
                {% endif %}
            {% endif %}

            {% if object_type == 'project' %}
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{ object.uuid }}" class="btn btn-default btn-block">Define Specimen</a>
            {% else %}
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{ object.project.uuid }}" class="btn btn-default btn-block">Define Specimen</a>
            {% endif %}

            {% for process_type in process_types %}
                {% if object_type == 'project' or object_type == 'specimen' %}
                    <a href="{% url 'ids_projects:process-create' %}?{{ object_type }}_uuid={{ object.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                {% else %}
                    {% if object.specimen %}
                        <a href="{% url 'ids_projects:process-create' %}?specimen_uuid={{ object.specimen.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                    {% else %}
                        <a href="{% url 'ids_projects:process-create' %}?project_uuid={{ object.project.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if object_type == 'project' %}
                <a href="{% url 'ids_projects:dataset-create' %}?project_uuid={{ object.uuid }}" class="btn btn-default btn-block">Create Dataset</a>
            {% else %}
                <a href="{% url 'ids_projects:dataset-create' %}?project_uuid={{ object.project.uuid }}" class="btn btn-default btn-block">Create Dataset</a>
            {% endif %}

            </div>
            <div class="col-sm-9">

                <p>
                    <h3>{{object_type|title}}'s Related Objects</h3>
                </p>

                <div class="well">

                    {% if object.containers %}
                        <p>
                            <b>Containers:</b>
                            <ul>
                            {% for assoc in object.containers %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.parts %}
                        <p>
                        <b>Parts:</b>
                            <ul>
                            {% for assoc in object.parts %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.inputs %}
                        </p>
                            <b>Inputs:</b>
                            <ul>
                            {% for assoc in object.inputs %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.outputs %}
                        </p>
                            <b>Outputs:</b>
                            <ul>
                            {% for assoc in object.outputs %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.is_input_to %}
                        </p>
                            <b>Is Input To:</b>
                            <ul>
                            {% for assoc in object.is_input_to %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.is_output_of %}
                        </p>
                            <b>Is Output Of:</b>
                            <ul>
                            {% for assoc in object.is_output_of %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endblock %}
{% endwith %} <!-- object_type -->
