{% with object.name|slice:"6:" as object_type %}

    {% block content %}

        {% include 'includes/object_detail.html' %}

        <div class="row">
            <div class="col-sm-3">
            {% if object_type == 'process' %}
                {% if object.process_type != 'sequencing' %}
                    <a href="{% url 'ids_projects:data-type' %}?relationship=input&process_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Input Data</a>
                {% endif %}
                <a href="{% url 'ids_projects:data-type' %}?relationship=output&process_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Output Data</a>
            {% elif object_type == 'dataset' %}
                <a href="{% url 'ids_projects:dataset-select-data'  dataset.uuid%}?" class="btn btn-primary btn-block">Select Data</a>
                <a href="#" class="btn btn-primary btn-block">Request Identifier</a>
            {% elif object_type != 'data' %}
                <a href="{% url 'ids_projects:data-type' %}?{{ object_type }}_uuid={{ object.uuid }}" class="btn btn-primary btn-block">Add Data</a>
            {% elif object_type == 'data' %}
                {% if object.process %}
                    <a href="{% url 'ids_projects:data-type' %}?process_uuid={{ object.process.uuid }}" class="btn btn-primary btn-block">Add Data</a>
                {% else %}
                    <a href="{% url 'ids_projects:data-type' %}?project_uuid={{ object.project.uuid }}" class="btn btn-primary btn-block">Add Data</a>
                {% endif %}
            {% endif %}

            {% if object_type == 'project' %}
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{ object.uuid }}" class="btn btn-default btn-block">Define Specimen</a>
            {% else %}
                <a href="{% url 'ids_projects:specimen-create' %}?project_uuid={{ object.project.uuid }}" class="btn btn-default btn-block">Define Specimen</a>
            {% endif %}

            {% for process_type in process_types %}
                {% if object_type == 'project' or object_type == 'specimen' %}
                    <a href="{% url 'ids_projects:process-create' %}?{{ object_type }}_uuid={{ object.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                {% else %}
                    {% if object.specimen %}
                        <a href="{% url 'ids_projects:process-create' %}?specimen_uuid={{ object.specimen.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                    {% else %}
                        <a href="{% url 'ids_projects:process-create' %}?project_uuid={{ object.project.uuid }}&process_type={{process_type}}" class="btn btn-default btn-block">Define {{ process_type|title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if object_type == 'project' %}
                <a href="{% url 'ids_projects:dataset-create' %}?project_uuid={{ object.uuid }}" class="btn btn-default btn-block">Create Dataset</a>
            {% else %}
                <a href="{% url 'ids_projects:dataset-create' %}?project_uuid={{ object.project.uuid }}" class="btn btn-default btn-block">Create Dataset</a>
            {% endif %}

            </div>
            <div class="col-sm-9">

                {% if object.containers or object.parts or object.inputs or object.outputs or object.is_input_to or object.is_output_of %}
                    <p>
                        <h3>{{object_type|title}}'s Related Objects</h3>
                    </p>
                {% else %}
                    <p>
                        <h3>Empty {{object_type|title}}</h3>
                    </p>
                {% endif %}

                <div class="well">

                    {% if object.containers %}
                        <p>
                            <b>Containers:</b>
                            <ul>
                            {% for item in object.containers %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.parts %}
                        <p>
                        <b>Parts:</b>
                            {% if object.graph|length > 0 %}
                                {% for thing in object.graph %}
                                    {% with thing as item %}
                                        {% include 'includes/link_list_item.html' %}
                                    {% endwith %}
                                {% endfor %}
                            {% else %}
                                <ul>
                                {% for item in object.parts %}
                                    {% if item.name == 'idsvc.specimen' %}
                                        {% include 'includes/related_list_item.html' %}
                                    {% endif %}
                                {% endfor %}

                                {% for item in object.parts %}
                                    {% if item.name == 'idsvc.process' %}
                                        {% include 'includes/related_list_item.html' %}
                                    {% endif %}
                                {% endfor %}

                                {% for item in object.parts %}
                                    {% if item.name == 'idsvc.data' %}
                                        {% include 'includes/related_list_item.html' %}
                                    {% endif %}
                                {% endfor %}

                                {% for item in object.parts %}
                                    {% if item.name == 'idsvc.dataset' %}
                                        {% include 'includes/related_list_item.html' %}
                                    {% endif %}
                                {% endfor %}

                                {% for item in object.parts %}
                                    {% if item.name == 'idsvc.identifier' %}
                                        {% include 'includes/related_list_item.html' %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if object.inputs %}
                        </p>
                            <b>Inputs:</b>
                            <ul>
                            {% for item in object.inputs %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.outputs %}
                        </p>
                            <b>Outputs:</b>
                            <ul>
                            {% for item in object.outputs %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.is_input_to %}
                        </p>
                            <b>Is Input To:</b>
                            <ul>
                            {% for item in object.is_input_to %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if object.is_output_of %}
                        </p>
                            <b>Is Output Of:</b>
                            <ul>
                            {% for item in object.is_output_of %}
                                {% include 'includes/related_list_item.html' %}
                            {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endblock %}
{% endwith %} <!-- object_type -->
