{% load custom_filters %}

{% with object.name|slice:"6:" as object_type %}
    {% with 'ids_projects:'|add:object_type|add:'-edit' as route %}
        {% with object_type|add:'_uuid='|add:object.uuid as param %}

            <h1>
                {{ object_type|title }}: {{ object.title }}
                <small>
                    <a href="{% url route object.uuid %}" class="btn btn-sm btn-link">Edit</a>
                </small>
            </h1>

            <div class="container well">

            {% if object.fields %}
                {% for key, value in object.value.items %}
                    {% with key|slice:":1" as leading %}
                        {% if leading != '_' and key != "process_type" %}
                            {% with object.fields|lookup:key as field %}
                                <div class="row">
                                    <p>
                                        <div class="col-xs-6 col-sm-4">
                                            {% if field %}
                                                <b>{{ field.label }}</b>
                                            {% else %}
                                                <b>{{ key|title }}</b>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-6 col-sm-8">
                                            {{ value }}
                                        </div>
                                    </p>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for key, value in object.value.items %}
                    {% with key|slice:":1" as leading %}
                        {% if leading != '_' and key != "process_type" %}
                            <div class="row">
                                <p>
                                    <div class="col-xs-6 col-sm-4">
                                        <b>{{ key|title }}</b>
                                    </div>
                                    <div class="col-xs-6 col-sm-8">
                                        {{ value }}
                                    </div>
                                </p>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

            </div>

        {% endwith %}
    {% endwith %}
{% endwith %}
