{% load custom_filters %}

{% with object.name|slice:"6:" as object_type %}
    {% with 'ids_projects:'|add:object_type|add:'-edit' as route %}
        {% with object_type|add:'_uuid='|add:object.uuid as param %}

            <h1>
                {{ object.title }}
                <small>
                    <a href="{% url route object.uuid %}" class="btn btn-sm btn-link">Edit</a>
                </small>
            </h1>

            {% if object.fields %}
                {% for key, value in object.value.items %}
                    {% with key|slice:":1" as leading %}
                        {% if leading != '_' and key != "process_type" %}
                            {% with object.fields|lookup:key as field %}
                                <p><b>{{ field.label }}</b> {{ value }}</p>
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for key, value in object.value.items %}
                    {% with key|slice:":1" as leading %}
                        {% if leading != '_' and key != "process_type" %}
                            <p><b>{{ key|title }}</b> {{ value }}</p>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        {% endwith %}
    {% endwith %}
{% endwith %}
