{% with item.name|slice:"6:" as name %}
    {% with 'ids_projects:'|add:name|add:'-view' as route %}
        {% with name|add:'_uuid='|add:item.uuid as param %}
            <ul>
                {% if name == 'data' %}
                    <label for="id_data_select_{{ object.uuid }}">
                        {% if item.uuid in datas %}
                            <input type="checkbox" checked="checked" id="id_data_select_{{ object.uuid }}" value="{{ object.uuid }}" name="data_select"/>
                        {% else %}
                            <input type="checkbox" id="id_data_select_{{ object.uuid }}" value="{{ object.uuid }}" name="data_select"/>
                        {% endif %}
                        <b>{{ name|title }}</b>: {{ item.title }}
                    </label>
                {% else %}
                    <li>
                        <a href="{% url route item.uuid %}">
                            <b>{{ name|title }}</b>: {{ item.title }}
                        </a>
                    </li>
                {% endif %}
                {% if item.graph|length > 0 %}
                    {% for thing in item.graph %}
                        {% with thing as item %}
                            {% include 'includes/select_list_item.html' %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endwith %}
    {% endwith %}
{% endwith %}
