{% with object.name|slice:"6:" as object_type %}

    {% block content %}

        <div class="row">

            <div class="col-sm-9">

                <!--<p>-->
                    <!--<h3>{{ object_type|title }}: {{ object.title|title }}</h3>-->
                <!--</p>-->

                <p>
                    <h4>Select data to add to the <i>{{ dataset.title|title }}</i> dataset:</h4>
                </p>

                <div id="id_data_select" class="well">

                    {% if object.parts %}
                        <p>
                            {% if object.graph|length > 0 %}
                                {% for thing in object.graph %}
                                    {% if not thing.name == 'idsvc.dataset' %}
                                        {% with thing as item %}
                                            {% include 'includes/select_list_item.html' %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    {% endif %}

                </div>

            </div>

        </div>

    {% endblock %}

{% endwith %}
